.TaskBarListItem {
  display: flex;
  align-items: center;
  margin-left: 4px;
  margin-right: 4px;
  padding: 15px 12px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
  font-family: 'Roboto', serif;
}

.TaskBarListItem:hover {
  background: rgb(240, 240, 240);
}

.TaskBarListItem i {
  margin-right: 15px;
  font-size: 24px;
  color: #465efc;
  cursor: pointer;
}

.TaskBarListItem.completed p {
  text-decoration: line-through;
  color: rgb(172, 172, 172);
}
